<div class="header-container">
  <div class="header-logo-container">
    <%= image_tag('Chat Genie Logo-White') %>
  </div>

  <div class="header-navigation-container">
    <%=render_navigation(context: :main, expand_all: true) %>

    <ul class="dropdown menu session-menu" data-dropdown-menu>
      <li>
        <a href="#"><%= current_user.first_name %> <%= current_user.last_name %></a>
        <ul class="menu">
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="header-user-image-container">
    <%= image_tag(current_user.image_url) %>
  </div>
</div>
