<% provide(:title, "My FB Pages") %>

<div class="subsection-body">
  <span class="head-title">Bot Publishing</span> <a href="https://www.facebook.com/pages/create/" target="_blank" >No page? Create here!</a>
  <div class="subsection-container">
    <p class="subsection-container-title">Your facebook Pages</p>
    <div class="fb-pages">
      <% @fb_pages.each do |fb_page| %>
      <div class="page-container">
        <img src="http://graph.facebook.com/v2.6/<%= fb_page.fetch("id") %>/picture" alt="<%= fb_page.fetch("name") %>"/>
        <%= fb_page.fetch("name") %>
        <%= link_to "Register!", register_path(bot_record: fb_page), method: :post %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="subsection-container">
    <p class="subsection-container-title">Registered facebook page</p>
    <div class="fb-pages">
      <% @registered_pages.each do |registered_page| %>
      <div class="page-container">
        <img src="http://graph.facebook.com/v2.6/<%= registered_page.page_id %>/picture" alt="<%= registered_page.name %>"/>
        <%=registered_page.name%>

        <%= link_to "Remove", destroy_registered_page_path(registered_page), method: :delete, class: "warning", confirm: 'Are you sure?' %>
        <%= link_to "Subscribe", registered_page_subscribe_path(registered_page), method: :post, class: "success" %>
        <%= link_to "Analytics", page_analytics_path(registered_page) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
