<div class="subsection-container">
  <p class="subsection-container-title">Daily Users Actions</p>
  <span><%= month_day_year_format(@start_ts) %> - <%= month_day_year_format(@end_ts) %></span>
  <%= daily_users_actions_chart %>
</div>
