<div class="subsection-container">
  <p class="subsection-container-title">Daily New Users</p>
  <span><%= month_day_year_format(@start_ts) %> - <%= month_day_year_format(@end_ts) %></span>
  <%= daily_new_users_chart %>
</div>
