<div class="subsection-container">
  <p class="subsection-container-title">Popular blocks</p>
  <%= month_day_year_format(@start_ts) %> - <%= month_day_year_format(@end_ts) %>
  <table class="scrollable">
    <thead>
      <tr>
        <th>Payload</th>
        <th>Block Name</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @unique_blocks.each do |block| %>
        <tr>
          <td>
            <%= block.first["block_payload"] %>
          </td>
          <td>
            <%= block.first["name"] %>
          </td>
          <td>
            <%= block.last %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
