<div class="subsection-container">
  <p class="subsection-container-title">Popular Unrecognized User Inputs</p>
  <span><%= month_day_year_format(@start_ts) %> - <%= month_day_year_format(@end_ts) %></span>
  <table class="scrollable">
    <thead>
      <th>Content</th>
      <th>Count</th>
    </thead>
    <tbody>
      <% @unique_unrecognized_user_inputs.each do |block| %>
        <tr>
          <td>
            <%= generate_content_for(block) %>
          </td>
          <td>
            <%= block.last %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
