<div class="subsection-container">
  <p class="subsection-container-title">Sources</p>
  <span><%= month_day_year_format(@start_ts) %> - <%= month_day_year_format(@end_ts) %></span>

  <table class="scrollable">
    <thead>
      <th>Source</th>
      <th>Ref</th>
      <th>Interactions</th>
      <th>New Users</th>
    </thead>
    <tbody>
      <% @unique_source_refs.each do |source_ref| %>
        <tr>
          <td>
            <%= source_ref[0]["category"] %>
          </td>
          <td>
            <%= source_ref[0]["ref"] %>
          </td>
          <td>
            <%= source_ref[1]%>
          </td>
          <td>
            <%= source_ref[1] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
