<div class="subsection-container">
  <div class="user-retention-with-date">
    <p class="subsection-container-title">User Retention</p>
    <span>From Last Date:</span>
    <input type="text" name="end_ts" id="retentionEndDate">
    <button type="button" name="submit_retention_date" class="search-button" id="retentionSubmit">Submit</button>
  </div>

  <span id="userRetentionDates"><%= month_day_year_format(@last_14_days) %> - <%= month_day_year_format(@last_retention_date) %></span>
  <table class="user-retention-container">
    <thead>
      <th>DATE</th>
      <th>USERS</th>
      <th>DAY 1 <sup>Users</sup></th>
      <th>DAY 2 <sup>Users</sup></th>
      <th>DAY 3 <sup>Users</sup></th>
      <th>DAY 4 <sup>Users</sup></th>
      <th>DAY 5 <sup>Users</sup></th>
      <th>DAY 6 <sup>Users</sup></th>
      <th>DAY 7 <sup>Users</sup></th>
    </thead>
    <tbody id="userRetention">
      <%= render partial: "analytics/user_retention_part", user_retention: @user_retention %>
    </tbody>
  </table>
</div>
