<div class="subsection-container">
  <p class="subsection-container-title">User Activity</p>
  <span><%= month_day_year_format(@start_ts) %> - <%= month_day_year_format(@end_ts) %></span>
  <%= user_activity_chart %>
</div>
