<% @user_retention.each do |k, v| %>
  <tr>
    <td><%= month_day_format(k)%></td>
    <td><%= v[:users] %></td>
    <td><%= v[:day_1][:percentage] %>% <sup><%= v[:day_1][:count] %></sup></td>
    <td><%= v[:day_2][:percentage] %>% <sup><%= v[:day_2][:count] %></sup></td>
    <td><%= v[:day_3][:percentage] %>% <sup><%= v[:day_3][:count] %></sup></td>
    <td><%= v[:day_4][:percentage] %>% <sup><%= v[:day_4][:count] %></sup></td>
    <td><%= v[:day_5][:percentage] %>% <sup><%= v[:day_5][:count] %></sup></td>
    <td><%= v[:day_6][:percentage] %>% <sup><%= v[:day_6][:count] %></sup></td>
    <td><%= v[:day_7][:percentage] %>% <sup><%= v[:day_7][:count] %></sup></td>
  </tr>
<% end %>
