<% provide(:title, "FB Pages Analytics") %>

<div class="subsection-body">
  <span class="head-title">Analytics</span> <a href="https://www.facebook.com/pages/create/" target="_blank" >No page? Create here!</a>
  <div class="subsection-container">
    <p class="subsection-container-title">Registered facebook page</p>
    <div class="fb-pages">
      <% if @registered_pages.present? %>
        <% @registered_pages.each do |registered_page| %>
        <div class="page-container">
          <img src="http://graph.facebook.com/v2.6/<%= registered_page.page_id %>/picture" alt="<%= registered_page.name %>"/>
          <%=registered_page.name%>
          <%= link_to "Analytics", page_analytics_path(registered_page) %>
        </div>
        <% end %>

      <% else %>
        <div class="page-container">
          <p class="subsection-container-title">Please Register your facebook page</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
