<div class="subsection-body">
  <span class="head-title">Analytics</span> <a href="https://www.facebook.com/pages/create/" target="_blank" >No page? Create here!</a>
  <div class="subsection-container">
    <p class="subsection-container-title">Registered facebook page</p>
    <div class="fb-pages">
      <% if @registered_pages.present? %>
        <% @registered_pages.each do |registered_page| %>
        <div class="page-container">
          <img src="http://graph.facebook.com/v2.6/<%= registered_page.page_id %>/picture" alt="<%= registered_page.name %>"/>
          <%=registered_page.name%>
          <%= link_to "Analytics", page_analytics_path(registered_page) %>
        </div>
        <% end %>

      <% else %>
        <div class="page-container">
          <p class="subsection-container-title">Please Register your facebook page</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="date-filters-container">
    <ul class="date-filters">
      <li><%= link_to 'Week', page_analytics_path({id: @page.id, range_type: "week"}), class: 'date-filter-link' %></li>
      <li><%= link_to 'Month', page_analytics_path({id: @page.id, range_type: "month"}), class: 'date-filter-link' %></li>
      <li><%= link_to 'Quarter', page_analytics_path({id: @page.id, range_type: "quarter"}), class: 'date-filter-link' %></li>
      <li>
        <%= form_tag page_analytics_path(@page), method: :get, class: "date-filter-form" do %>
            <span>From:</span>
            <input type="text" name="start_ts" id="startDate">
            <span>To:</span>
            <input type="text" name="end_ts" id="endDate">
            <%= submit_tag "apply", class: "search-button" %>
        <% end %>
      </li>
    </ul>
  </div>

  <%= render partial: 'analytics/daily_new_users', new_daily_users: @new_daily_users, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/daily_users_actions', user_actions: @user_actions, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/user_activity', user_activities: @user_activities, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/sources', unique_source_refs: @unique_source_refs, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/popular_blocks', unique_blocks: @unique_blocks, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/popular_buttons', unique_buttons: @unique_buttons, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/popular_urls', popular_urls: @popular_urls, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/user_retention', user_retention: @user_retention, last_14_days: @last_14_days, last_retention_date: @last_retention_date %>
  <%= render partial: 'analytics/popular_user_inputs', unique_user_inputs: @unique_user_inputs, start_ts: @start_ts, end_ts: @end_ts  %>
  <%= render partial: 'analytics/popular_unrecognized_user_inputs', unique_unrecognized_user_inputs: @unique_unrecognized_user_inputs, start_ts: @start_ts, end_ts: @end_ts  %>

</div>
