var $dates = '<span><%= month_day_year_format(@last_14_days) %> - <%= month_day_year_format(@last_retention_date) %></span>';
var $html = '<%= escape_javascript( render partial: "analytics/user_retention_part", user_retention: @user_retention ) %>';

$("#userRetentionDates").html($dates);
$("#userRetention").html($html);
