<% provide(:title, "Chatbot Login") %>

<div class="login-container">
  <%= image_tag('Chat Genie Logo-White') %>
  <h5>WATSONS</h5>
  <div class="subsection-container">
    <p style="color: white">Please contact your Admin to make your account manage the bot.</p>
    <div class="login-button">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </div>

</div>
