<% provide(:title, "Chatbot Login") %>

<div class="login-container">
  <%= image_tag('Chat Genie Logo-White') %>
  <h5>WATSONS</h5>
  <%= link_to user_facebook_omniauth_authorize_path, class: "login-button" do %>
    <i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook
  <% end %>
</div>
