<% if @registered_link.errors.present? %>
  $('.errors').show().html('<%=@registered_link.errors.full_messages%>').fadeOut(3000);
<% else %>
  var $html = '<tr id="registered_link_<%=@registered_link.id%>">'+
                '<td>'+
                  '<%=@registered_link.id%>'+
                '</td>'+
                '<td class="ellipsis">'+
                  '<%=@registered_link.orig_url%>'+
                '</td>'+
                '<td>'+
                  '<%=@registered_link.title%>'+
                '</td>'+
                '<td>'+
                  '<%= link_to "EDIT", edit_registered_link_path(@registered_link), remote: true, class: "warning" %>'+
                '</td>'+
              '</tr>';

  $('.appendable').append($html);
<% end %>
