var $html = '<%= form_for @registered_link, remote: true do |f| %>'+
  '<td>'+
    'ID: <%=@registered_link.id%>'+
  '</td>'+
  '<td class="ellipsis">'+
    '<%= f.text_field :orig_url, placeholder: "URL" %>'+
  '</td>'+
  '<td>'+
    '<%= f.text_field :title, placeholder: "Title" %>'+
  '</td>'+
  '<td>'+
    '<%= f.submit "Save" %>'+
  '</td>'+
'<% end %>';
$('#registered_link_<%=@registered_link.id%>').children().hide();
$('#registered_link_<%=@registered_link.id%>').append($html);
