<% provide(:title, "Chatbot Users") %>

<div class="subsection-body">
  <span class="head-title">Manage Registered URLs</span>
  <div class="subsection-container">
    <p class="subsection-container-title">Registered URLs</p>
    <div class="users-container">
      <table class="scrollable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Original Url</th>
            <th>Title</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="appendable">
        <% @registered_links.each do |registered_link| %>
          <tr id="registered_link_<%=registered_link.id%>">
            <td>
              <%=registered_link.id%>
            </td>
            <td class="ellipsis">
              <%=registered_link.orig_url%>
            </td>
            <td>
              <%=registered_link.title%>
            </td>
            <td>
              <%= link_to "EDIT", edit_registered_link_path(registered_link), remote: true %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <div class="errors"></div>

      Register new URL with (https:// or http://)
      <div class="create-registered-link">
        <%= form_tag registered_links_path, method: :post, remote: true do %>
          <%= text_field_tag "registered_link[orig_url]", "", placeholder: "URL" %>
          <%= text_field_tag "registered_link[title]", "", placeholder: "URL Title" %>
          <button type="submit" name="button">Save</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
