<% provide(:title, "Chatbot Users") %>

<div class="subsection-body">
  <span class="head-title">Manage Users</span>
  <div class="subsection-container">
    <p class="subsection-container-title">Normal and Admin Users</p>
    <div class="users-container">
      <table class="scrollable">
        <thead>
          <tr>
            <th>USER</th>
            <th>ROLE</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%=image_tag(user.image_url)%>
              <%=user.first_name%> <%=user.last_name%>
            </td>
            <td>
              <%=select_tag "user_#{user.id}",
                            options_for_select(User.roles.collect{ |k, v| [k] }, user.role),
                            class: "select-role",
                            onchange: 'UpdateRole(this.id, this.value);'
              %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  function UpdateRole (user_id, value) {
    user_id = user_id.split("_");
    $.ajax({
      url: "/users/"+user_id[1],
      type: "PATCH",
      data: {
          "user": {
            "role": value
          }
      },
      success: function (data) {
        console.log("success");
            },
      error: function (error) {
        console.log("error");
            }
    });
  }
</script>
