<template>
  <div class="top-bar">
    <router-link to="/">
      <div class="logo-container">
        <img class="logo" src="../../assets/logo.png">
      </div>
    </router-link>
     
  </div>
</template>

<script>

</script>

<style lang="scss" scoped>
  img {
    width: 100px;
    height: 100px;
  }

  .logo-container {
    width: 300px;
    text-align: center;
    background-color: #F2B620;
  }

  .top-bar {
    padding: 0px;
    background-color:rgba(255,255,255,0.1);
  }
  
</style>
