<template>
  <div class="app">
    <app-header></app-header>
    <div class="container">
      <app-login></app-login>
    </div>

    <div v-if="error_message">
      Errors: {{ error_message }}
    </div>
  </div>
</template>

<script>
import Header from './components/shared/Header.vue';
import Login from './components/Login.vue';

export default {
  computed: {
    error_message() {
      return this.$store.state.errors;
    }
  },
  components: {
    appHeader: Header,
    appLogin: Login
  }
}
</script>

<style lang="scss">
  .app {
    padding: 10px;
    height: 100%;
  }

  .fb-signin-button {
    /* This is where you control how the button looks. Be creative! */
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #4267b2;
    color: #fff;
    cursor: pointer;
  }

  .container {
    text-align: center;
    height: calc(100% - 100px);
  }
</style>
