<div class="login-container">
  <%= image_tag('Chat Genie Logo-White') %>
  <%= link_to user_facebook_omniauth_authorize_path, class: 'login-button' do %>
    <i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook
  <% end %>

  <span>- or -</span>

  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>

      <a href="#" class="accordion-title">Login as admin</a>

      <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
      <div class="accordion-content" data-tab-content>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, label: false, input_html: { class: "text-input", placeholder: "email" } %>
            <%= f.input :password, required: true, label: false, input_html: { class: "text-input", placeholder: "password" } %>
          </div>

          <% flash.each do |key, value| %>
              <div class="alert alert-<%=key%>">
                  <%= value %>
              </div>
          <% end %>

          <div class="form-actions">
            <%= f.button :button do %>
              LOGIN <i class="icon ion-log-in"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>

  </ul>
</div>
