<template>
  <table>
    <thead>
      <tr>
        <th width="200">ID</th>
        <th width="150">Name</th>
        <th width="150">Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="page in pages">
        <td>{{ page.id }}</td>
        <td>{{ page.name }}</td>
        <td>
          <img :src="page.avatar" />
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data: function () {
    return {
      pages: []
    }
  },
  created() {
    this.$http.get('/fb_pages').then(
      response => {
        this.pages = response.body
      }, error => {
      })
  }
}
</script>

<style scoped>
</style>
