<template>
  <div class="login-div">
    <div class="login-container">
      <p>LOGIN</p>
      <fb-signin-button
      :params="fbSignInParams"
      @success="onSignInSuccess"
      @error="onSignInError">
      Sign in with Facebook
    </fb-signin-button>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
  data () {
    return {
      fbSignInParams: {}
      }
  },
   computed: {
  },
  methods: {
    ...mapActions({
      loadUser: 'fetchUser'
    }),
    onSignInSuccess (response) {
      const fb_access_token = response.authResponse.accessToken;
      this.$http.post('/api/v1/login', { token: fb_access_token })
        .then(response => {
          return response.json();
        }, error => {
          const error_message = error.body.error;
          this.$store.state.errors = error_message;
        })
        .then( data => {
          if (data){
            this.$store.getters.user.access_token = data.data.access_token;
            this.loadUser(data.data);
          }
        });
    },
    onSignInError (error) {
      console.log('OH NOES', error);
    }
  }
}
</script>

<style lang="scss" scoped>
  .login-div {
    height: 100%;
    display: flex;
  }

  .login-div > .login-container {
    padding: 0px;
    background-color:rgba(255,255,255,0.1);
    width: 25%;
    display: block;
    margin: auto;
    border-radius: 10px;

    p {
      color: white;
      margin: 60px 0px 0px 0px;
    }
    
    .fb-signin-button {
      margin: 60px 0px 60px 0px;
    }
  }

</style>
