@import "default-colors.scss";
@import "default-font-sizes.scss";
@import "ionic-icon.scss";

body {
  color: white;
  font-size: $default-font-size-body;
  margin: 0px;
  padding: 30px 10px 10px 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: $default-light-blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-60deg, $default-light-blue, $default-dark-blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-60deg, $default-light-blue, $default-dark-blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-60deg, $default-light-blue, $default-dark-blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, $default-light-blue, $default-dark-blue); /* Standard syntax */
  min-height: 100vh;
}

.alert {
  margin: 10px;
}

.login-container {
  width: 350px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;

  img {
    height: 14vw;
    margin-bottom: 30px;
  }

  span {
    margin: 10px 0px;
    color: $default-btn-blue;
  }

  ul {
    background: none;

    li {
      a {
        font-size: $default-font-size-body;
        font-weight: bold;

        &:before {
          display: none;
        }
        border: 0px;

        &:focus { background: none; }
        &:hover {
          background: none;
          color: $default-btn-blue;
        }
      }

      .accordion-content {
        background: none;
        border: 0px;
      }

      .accordion-content:last-child {
        border-bottom: 0px;
      }
    }

  }
}

.login-button {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 0px;
  background-color: white;
  font-weight: bold;

  .fa {
    font-size: 25px;
    margin: 15px 15px 15px 0px;
  }
}

div.form-inputs {
  .input {
    .text-input {
      border: 0px;
      border-radius: 5px;
    }
  }
}

div.form-actions {
  .btn {
    padding: 10px 25px;
    border: 0px;
    border-radius: 5px;
    line-height: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color:  $default-btn-blue;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .icon {
      font-size: 30px;
      margin: 0px 0px 0px 10px;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;

  .header-logo-container {
    width: 250px;
    text-align: center;
    img { height: 90px; }
  }

  .header-user-image-container {
    background-color: black;
    img { height: 90px; }
  }
}

.header-navigation-container {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  height: 90px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.session-menu {
  background-color: white;
  width: 250px;
  align-items: center;
  justify-content: center;
  a {
    color: black;
    font-weight: bold;
  }
}

.session-menu.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: black transparent transparent;
}

.session-menu.dropdown.menu .is-active > a {
  color: black;
}

.main-menu {
  li {
    height: 100%;
    display: flex;
    align-items: center;
    a {
      font-weight: bold;
      color: white;
      height: 100%;
      display: flex;
      align-items: center;
      &.active {
        background: none;
        box-shadow: none;
        color: $default-btn-blue;
        border-bottom: 3px solid;
      }
      &:hover {
        color: $default-btn-blue;
      }
    }
  }

  padding-left: 50px;
  width: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.body-container {
  margin-top: 40px;
  display: flex;
  min-height: calc(100vh - 170px);
}

.sidebar-container {
  margin-right: 30px;
}

.sidebar-navigation-container {
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  min-height: calc(100vh - 170px);
}

.subsection-body {
  flex-grow: 2;
}

.sidbar-menu {
  display: flex;
  flex-direction: column;
  width: 250px;

  li {
    a {
      font-weight: bold;
      height: 90px;
      display: flex;
      color: white;
      align-items: center;

      &:before {
        font-size: 30px;
        margin: 0px 20px;
      }

      &:hover {
        background-color: $default-btn-blue;
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
      }

      &.active {
        background-color: $default-btn-blue;
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.subsection-container {
  border-radius: 12px;
  padding: 30px;
  margin: 30px 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

.flex-subsection-container {
    display: flex;
    justify-content: space-between;
    .subsection-divider {
      width: 49%;
    }
}

.head-title {
  font-size: $default-font-size-head-title;
  font-weight: bold;
}

.subsection-container-title {
  font-size: $default-font-size-subsection-container-title;
  font-weight: bold;
}

.fb-pages {
  max-height: 50vh;
  overflow-y: auto;
}

.page-container {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  img {
    height: 50px;
    margin: 15px;
  }

  span {
    font-weight: bold;
  }

  a {
    float: right;
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;

    &.warning {
      background-color: $default-red;
    }

    &.success {
      background-color: $default-green;
    }

    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
}


table.scrollable {
  border: 0px;
  color: white;
  background: none;
}

table.scrollable thead {
  background: none;
  border: 0px;
  color: white;
  display: table-row;
}

table.scrollable tbody {
  color: $default-gray;
  border: 0px;
  overflow-y: scroll;
  display: block;
  max-height: 350px;
}

.select-role {
  width: 200px;
}

.date-filters-container {
    margin: 30px 0px;
}

.date-filters {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
}

.date-filter-link {
  margin: 0px 50px;
  font-weight: bold;

  &:hover {
    color: $default-btn-blue;
  }
}

.date-filter-form {
  display: flex;
  align-items: center;
  span {
    color: $default-btn-blue;
    font-weight: bold;
  }

  input[type="text"] {
    border: 0px;
    margin: 0px 10px;
  }

  .search-button {
    border: 1px solid;
    border-radius: 15px;
    background: white;
    padding: 5px 20px;
    color: $default-btn-blue;
    font-weight: bold;
  }
}

.create-registered-link {
  button {
    display: block;
    background-color: white;
    padding: 10px;
    border-radius: 6px;

    &.warning {
      background-color: $default-red;
    }

    &.success {
      background-color: $default-green;
    }

    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.ellipsis {
  max-width: 500px;
  word-wrap: break-word;
}

table.user-retention-container {
  border: 0px;
  color: white;
  background: none;
}

table.user-retention-container thead {
  background: none;
  border: 0px;
  color: white;
}

table.user-retention-container tbody {
  color: $default-gray;
  border: 0px;
}

.user-retention-with-date {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  p { margin: 0px 10px 0px 0px }

  span { margin: 0px 10px 0px 0px }
  
  input {
    width: 200px;
    margin: 0px 10px 0px 0px;
  }

  .search-button {
    border: 1px solid;
    border-radius: 15px;
    background: white;
    padding: 5px 20px;
    color: $default-btn-blue;
    font-weight: bold;
  }
}
